.topnavbar {
    text-align: center;
    background-color: rgb(0, 0, 0);
    color: aliceblue;
    padding: 1px 0px;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .box2 a {
    margin-left: 7px;
    text-decoration: none;
    font-size: 21px;
    font-weight: 600;
    color: black;
}

.ultraboost {
    background-image: url(ИИИ.png);
    padding: 250px 0;
}

.box11 {
    color: aliceblue;
}

.box33:hover{
     
        background-color: rgb(108, 58, 101);
        color: white;
        transition: 0.7s;
 
}

.info1 .cards {
        display: flex;
        gap: 30px;
}

.card p {
    font-weight: 600;
}


.info1 a {
    padding: 10px;
    text-decoration: none;
    border: 1px solid black;

}

.info1 a:hover {
    background-color: rgb(0, 0, 0);
    color: white;
    transition: 0.7s;
    padding: 10px;
    background-color: rgb(0, 0, 0);

}

.info2 {

    align-items: center;
}
.quti11{
    background-color: gold;
    
    align-items: center;
    padding-top: 20px;
    padding-bottom: 10px;   
    display: flex;
    justify-content: space-around;

}

.quti11 a{
    border: 2px solid black;
    color: rgb(243, 104, 104);
    background-color:black ;
    padding: 10px;
    text-decoration: none;
    gap: 10px;
}

.past1{
    display: flex;
    justify-content: space-around;
}
.info3 .card1{
    display: flex;
    justify-content: space-around;
}

.info3{
    display: flex;
    gap: 10px;
}
.info3 .card1{
    display: flex;
    flex-direction: column;
}

